.blogs_maincontainer {
  background-color: #d7d7d7;
}
.Toppadding {
  padding-top: 3%;
}
.Topflex {
  display: flex;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.LeftSide {
  width: 50%;
  position: relative;
}
.topcarddetailsDiv {
  position: absolute;
  bottom: 0;
  width: 92%;
  height: 27%;
  background: linear-gradient(0deg, black, #00000014);
  padding: 6% 4% 0px 4%;
  border-radius: 6px;
}
.topcardSmalldetailsDiv {
  position: absolute;
  bottom: 0;
  width: 92%;
  height: 32%;
  background: linear-gradient(0deg, black, #00000014);
  padding: 9% 4% 0px 4%;
  border-radius: 6px;
}
.topcardSmalldetailsDiv h1 {
  font-size: 22px;
  background: transparent;
  color: white;
  text-overflow: ellipsis;
  text-wrap: wrap;
  overflow: hidden;
  height: 55px;
  background: linear-gradient(to right, currentColor 0%, currentColor 100%);
  background-repeat: no-repeat;
  background-position: 0% 100%;
  transition-duration: 0.5s;
  background-size: 0px 0px;
  display: inline;
}
.Topleftimg:hover .topcardSmalldetailsDiv h1 {
  background-size: 100% 6%;
}
.Toprightimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease-in-out;
}
.Toprightimg:hover img,
.Topleftimg:hover img {
  transform: scale(1.06);
}

.topcarddetailsDiv h1 {
  background-color: transparent;
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 3%;
  text-wrap: nowrap;
  position: relative;
}
.topcarddetailsDiv h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  transition: 0.3s ease-in-out;
}
.Toprightimg:hover .topcarddetailsDiv h1::after {
  width: 100%;
  border: 2px solid rgb(203, 203, 203);
  transition: 0.3s ease-in-out;
}
.RightSide {
  width: 50%;
}
.imgcolor {
}
.Toprightimg {
  width: 100%;
  max-width: 700px;
  height: 400px;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}
.TopGrid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.Card {
  width: 50%;
}

.Topleftimg {
  width: 98%;
  position: relative;
  height: 196px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 2%;
}
.Topleftimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease-in-out;
}
.topcarddetails {
  position: absolute;
}

.SecondPart {
  margin-top: 4rem;
}
.Heading {
  font-size: 35px;
  width: 20%;
  margin-left: 2%;
}
.downcard {
  width: 33%;
}
.maincard {
  width: 500px;
  height: 400px;
  border: 2px;
  border-radius: 10px;
}
.DownGrid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 45px 2%;
  margin-top: 4rem;
  place-content: center;
}
.downimg {
  width: 350px;
  height: 300px;
  border-radius: 5px;
}
.CardDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: white;
}
.MainCard {
  width: 30%;
  height: fit-content;
  box-shadow: 0 0 9px #ababab2e;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background: white;
}
.CardDetails p {
  position: relative;
  width: fit-content;
}
.CardDetails p::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  transition: 0.3s ease-in-out;
}
.MainCard:hover .CardDetails p::after {
  width: 100%;
  border: 1px solid rgb(0, 0, 0);
  transition: 0.3s ease-in-out;
}
.moreHeight {
  height: 400px;
}
.moreHeight2 {
  height: 380px;
}
.marginOne {
  margin: 2% 0 0 0;
}
.marginTwo {
  margin: 1% 0 0 0;
}
.CardImg {
  width: 100%;
  /* height: 250px; */
  border-radius: 10px 10px 0px 0px;
}
.Cardimgs {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.border {
  max-width: 186px;
  width: 20%;
  height: 0px;
  border-bottom: 2px solid rgb(185, 184, 184);
}
.border2 {
  width: 80%;
  max-width: 1440px;
  height: 0px;
  border-bottom: 2px solid rgb(185, 184, 184);
}
.nrmlFlex {
  display: flex;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  align-items: center;
}

.cardCategoryTag {
  position: absolute;
  top: 4%;
  left: 4%;
  padding: 3px 3%;
  border-radius: 18px;
  font-size: 13px;
  background-color: #000080;
  color: white;
}

.flexDetailDiv {
  display: flex;
  gap: 5%;
}
.bgTransparent,
.bgTransparent span {
  background: transparent;
}
.bgTransparent span {
  color: white;
  font-weight: 600;
}
